.movie-detail{
    padding: 24px 0;
}
.movie-detail img{
    display: block;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 18px;
}    
.movie-detail h2{
    margin-bottom: 18px;
}

.movie-card img{
    height: 200px;
    object-fit: cover;
}